<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <!-- <img :src="'www.qq.com/' + obj.name + '.jpg'" alt=""> -->
      <div id="app" :src="name" >
        {{name}}
      </div>
      <!-- <div class=""  @click="change">
        click
      </div> -->
      <div>
        <label for="">1</label><input type="checkbox" value="1" v-model="checkbox">
        <label for="">2</label><input type="checkbox" value="2" v-model="checkbox">
      </div>
      <button @click="click">click</button>
    </div>
    <script type="text/javascript" src="../lib/vue-2.5.16.js"></script>
    <script type="text/javascript">
      const vm = new Vue({
        el: '.container',
        data() {
          return {
            $message : 'test',
            obj: {
              name: ''
            },
            name: undefined,
            checkbox: ['2']
          }
        },
        watch: {
          checkbox(nval) {
            debugger
          }
        },
        methods: {
          change: function() {
            // this.name = '456';
            this.obj['name'] = '456';
          },
          click() {
            console.log(this.checkbox);
          }
        },
        mounted() {
            Vue.nextTick(() => {
              console.log(this.name);   // 123
            })
            console.log(this.name)      // undefined
            this.name = '123';
        }
      })

      // var data = {name : 'xx'}
      // observe(data)
      //
      // function observe(data){
      //   if(!data || typeof data !== 'object'){
      //     return
      //   }
      //   Object.keys(data).forEach(function(key){
      //     defineReactive(data,key,data[key])
      //   })
      // }
      //
      // function defineReactive(data,key,val){
      //   var dep = new Dep();
      //   observe(val)
      //   Object.defineProperty(data,key,{
      //     enumerable : true,
      //     configurable : false,
      //     get : function(){
      //       return val
      //     },
      //     set : function(newVal){
      //       console.log(`oldVal : ${val};newVal : ${newVal}`);
      //       if(val === newVal){
      //         return
      //       }
      //       dep.notify()
      //       console.log('data is change');
      //       val = newVal
      //     }
      //   })
      // }
      //
      // function Dep(){
      //   this.subs = []
      // }
      //
      // Dep.prototype = {
      //   addSub : function(sub){
      //     this.subs.push(sub)
      //   },
      //   notify : function(){
      //     this.subs.forEach(function(sub){
      //       sub.update()
      //     })
      //   }
      // }

    </script>
  </body>
</html>
