<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <ul>
      <% for(var i=0;i<arr;i++){ %>
        <li><%= arr[i] %></li>
      <% } %>
    </ul>
  </head>
  <body>
    <script type="text/javascript">
      (function(){

        function passAccessData(token){
          console.log(token);
          alert(token);
        }

        window.passAccessData = passAccessData;
      })()

      window.onload = function(){
        // do something
        console.log('load success');
      }

    </script>
  </body>
</html>
